# mdBook
mdbook/RPNCalc-UserGuide

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
build/
.gradle/
.gradle-wrapper/
!gradle/wrapper/

# Python
.pydevproject

# Snapcraft
*.snap

# Misc
*.md.backup
release.properties
buildNumber.properties
.README.md.html
